.main {
  height: 222px;
}

.heroImage {
  width: 134px;
  height: 56px;
  user-select: none;
  -webkit-user-drag: none;
}

.titleContainer {
  width: 170px;
}

.grassContainer {
  position: relative;
  background-image: url('./background-grass.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
}

.grassForeground {
  position: relative;
  background-image: url('./foreground-grass.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
}

.trees1 {
  position: absolute;
  left: 65%;
  top: 25px;
}

.trees2 {
  position: absolute;
  left: 75%;
  top: 50%;
}

/* Mobile */
@media (min-width: 320px) {
  .main {
    height: 325px;
  }

  .heroImage {
    width: 157px;
    height: 66px;
  }

  .titleContainer {
    width: 220px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .main {
    height: 456px;
  }

  .heroImage {
    width: 267px;
    height: 112px;
  }

  .titleContainer {
    width: 356px;
  }

  .grassContainer {
    padding-top: 120px;
  }

  .grassForeground {
    height: 180px;
  }

  .trees1 {
    top: 50px;
  }
}
