.root {
  width: 68px;
}

.container {
  position: relative;
}

.trees {
  transition: all 0.5s ease;
  -webkit-user-drag: none;
  user-select: none;
  position: absolute;
  width: 64px;
  height: 70px;
  left: 0px;
  bottom: 0px;
}

@media (min-width: 768px) {
  .root {
    width: 186px;
  }

  .trees {
    width: 189px;
    height: 202px;
    left: 0px;
  }
}

@media (min-width: 1024px) {
  .root {
    width: 230px;
  }

  .trees {
    width: 241px;
    height: 253px;
  }
}
